@charset "utf-8";

@use "sass:math" as *;
@import "./common.scss";


.content {
  width: 100%;
  height: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  &::before,
  &::after {
    height: 4rem;
    background-color: hsl(35, 100%, 60%);
    flex: 0 0 auto;
    content: "";
  }
}

.row {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  flex: 1 1 0rem;
  &[data-lang="en"] {
    --text-color: hsl(0, 0%, 20%);
    --background-color: hsl(0, 0%, 95%);
    --stroke-color: transparent;
  }
  &[data-lang="sh"] {
    --text-color: white;
    --background-color: hsl(198, 100%, 50%);
    --stroke-color: hsl(198, 100%, 30%);
    --font-family: #{$sans-font-family};
  }
}

.row-left {
  width: 42rem;
  height: 100%;
  padding-inline-end: 4rem;
  margin-inline-end: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  position: relative;
  box-sizing: border-box;
  &:has(img)::before {
    inset-block-start: 0rem;
    inset-block-end: 0rem;
    inset-inline-start: -8rem;
    inset-inline-end: 0rem;
    background-color: white;
    position: absolute;
    transform: skew(-15deg);
    content: "";
    z-index: 0;
  }
  > * {
    z-index: 1;
  }
}

.logo {
  height: 28rem;
}

.text {
  margin-inline-end: 6rem;
  font-size: 6rem;
  font-weight: bold;
  font-family: var(--font-family);
  color: var(--text-color);
  line-height: 1.4;
  letter-spacing: 0.02em;
  word-spacing: 0.1em;
  flex: 1 1 auto;
}

.title-content {
  width: 100%;
  height: 100%;
  row-gap: 1rem;
  display: flex;
  flex-direction: column;
  &::before,
  &::after {
    height: 4rem;
    background-color: hsl(35, 100%, 60%);
    flex: 0 0 auto;
    content: "";
  }
}

.title {
  row-gap: 6rem;
  color: var(--text-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  --text-color: white;
  --background-color: hsl(198, 100%, 50%);
  --stroke-color: hsl(198, 100%, 30%);
}

.title-subject {
  font-family: $special-font-family;
  font-weight: 600;
  font-size: 8rem;
  letter-spacing: 0.05em;
}

.title-separator {
  font-family: $special-font-family;
  font-weight: 800;
  font-size: 4rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.title-language {
  font-family: $special-font-family;
  font-weight: 600;
  font-size: 12rem;
  letter-spacing: 0.15em;
}

.bordered {
  position: relative;
  & >.bordered-real {
    display: block;
    position: relative;
    z-index: 1;
  }
  & >.bordered-dummy {
    inset: 0rem;
    color: var(--stroke-color);
    -webkit-text-stroke: min(0.075em, 0.75rem) var(--stroke-color);
    display: block;
    position: absolute;
    user-select: none;
    pointer-events: none;
    z-index: 0;  
  }
}